<div class="overallAboutMe">
  <section class="aboutMe">
    <h2>About Me</h2>
    <article>
      <p>
        I am a Front-end Developer with a background in administration and
        customer service, currently expanding my expertise to Fullstack
        Development. My passion lies in creating intuitive and functional user
        experiences while continuously improving my skills in modern web
        technologies.
      </p>
      <p>
        With a strong problem-solving mindset and an eye for detail, I aim to
        bridge the gap between design and development, ensuring seamless digital
        experiences. My past experience in customer-focused roles helps me
        understand user needs and deliver impactful solutions.
      </p>
      <p>
        I am currently looking for a remote Frontend Developer position where I
        can contribute my skills and grow further as a developer.
      </p>
    </article>
    <article>
      <ul>
        <li>📍 <strong>Based in Switzerland</strong></li>
        <li>🌍 <strong>Open to remote work</strong></li>
      </ul>
      <p>
        If you're looking for a motivated developer to bring your ideas to life,
        feel free to reach out!
      </p>
    </article>

    <button>Contact Me!</button>
  </section>
  <section class="showPicture">
    <img src="./../../assets/img/Brian Wigger/BrianWigger.JPG" alt="" />
    <div class="border"></div>
  </section>
</div>
