.overProject {
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;

  .number {
    font-size: 48px;
    position: absolute;
    right: 0;
  }

  .imageProject img {
    filter: grayscale(1);
    height: 393px;
    &:hover {
      filter: grayscale(0);
    }

    &:hover + .showBorder {
      display: block;
    }
  }
  .imageProject:hover ~ .informations {
    left: 820px;
  }
  

  .aboutProject {
    padding-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1440px;
    height: 460px;
    .imageProject {
      position: relative;
      z-index: 2;
      .showBorder {
        display: none;
        background: transparent;
        border: #000000 solid 4px;
        height: 393px;
        width: 620px;
        position: absolute;
        top: 20px;
        left: 20px;
        pointer-events: none;
      }
    }

    .title {
      font-size: 45px;
      font-weight: 800;
    }

    .usedProgramms {
      font-size: 23px;
      color: #00bc8f;
      font-weight: 400;
    }

    .informations {
      // position: absolute;
      display: flex;
      transition: left 125ms ease-in-out;
      z-index: 1;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      width: 620px;
      height: 393px;
      gap: 4px;
      position: absolute;
      left: 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        width: 189px;
        height: 68px;
        margin: 12px 0 0 0;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        background-color: unset;
        font-size: 23px;
        transition: transform 125ms;
      }
    }
  }
}

.reversedNumber {
  right: unset;
  left: 0;
}

.reversedInformation {
  left: 820px !important;
}

.reversedClass {
  flex-direction: row-reverse !important;

  .reversedShowBorder {
    top: 20px !important;
    right: 20px !important;
    left: unset !important;
  }
}
