<div class="backgroundImage">
  <div class="overContactform">
    <h2>{{ "CONTACT.TITLE" | translate }}</h2>

    <div class="centerIt">
      <h3>{{ "CONTACT.SUBTITLE" | translate }}</h3>
      <p>{{ "CONTACT.DESCRIPTION" | translate }}</p>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="entryarea">
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            type="text"
            name="name"
            required
          />
          <div class="labelline">{{ "CONTACT.NAME" | translate }}</div>
          @if(name.valid) {
          <img src="./../../../assets/img/contactform/checkGreen.svg" alt="" />
          } @if(!name.valid && name.touched && !name.disabled) {
          <img src="./../../../assets/img/contactform/checkRed.svg" alt="" />
          }
        </div>
        @if(!name.valid && name.touched && !name.disabled) {
        <span class="completeField">{{
          "CONTACT.ERROR.NAME" | translate
        }}</span>
        }
        <div class="entryarea">
          <input
            class="emailInput"
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="text"
            name="email"
            required
            [ngClass]="{
              'input-filled': email && contactData.email.length >= 1
            }"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
          <div
            class="labelline"
            [ngClass]="{ 'labelline-filled': contactData.email.length >= 1 }"
          >
            {{ "CONTACT.EMAIL" | translate }}
          </div>
          @if(email.valid && email.touched && !email.disabled) {
          <img src="./../../../assets/img/contactform/checkGreen.svg" alt="" />
          } @if(!email.valid && email.touched && !email.disabled) {
          <img src="./../../../assets/img/contactform/checkRed.svg" alt="" />
          }
        </div>
        @if(!email.valid && email.touched && !email.disabled) {
        <span class="completeField">{{
          "CONTACT.ERROR.EMAIL" | translate
        }}</span>
        }
        <div class="entryarea setHeight">
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            class="setHeight"
            name="message"
            minlength="4"
            required
          ></textarea>
          <div class="labelline">{{ "CONTACT.MESSAGE" | translate }}</div>
          @if(message.valid) {
          <img src="./../../../assets/img/contactform/checkGreen.svg" alt="" />
          } @if(!message.valid && message.touched && !message.disabled) {
          <img src="./../../../assets/img/contactform/checkRed.svg" alt="" />
          }
        </div>
        @if(!message.valid && message.touched && !message.disabled) {
        <span class="completeTextarea">{{
          "CONTACT.ERROR.MESSAGE" | translate
        }}</span>
        }
        <div class="privacyPolicy">
          <div class="overCheckboxPrivacyPolicy">
            <input
              [(ngModel)]="contactData.checkbox"
              class="checkboxPrivacyPolicy"
              type="checkbox"
              name="checkbox"
              required
            />
            <div class="imageCheckbox" (click)="setCheckbox()">
              <img
                [src]="ImageOfCheckbox"
                alt="{{ 'CONTACT.CHECKBOX_ALT' | translate }}"
              />
            </div>
          </div>
          <div class="informationPrivacyPolicy">
            <div>
              {{ "CONTACT.PRIVACY_1" | translate }}
            </div>
            <div routerLink="/privacypolicy" class="privacyLink">
              {{ "CONTACT.PRIVACY_LINK" | translate }}
            </div>
            <div>
              {{ "CONTACT.PRIVACY_2" | translate }}
            </div>
          </div>
        </div>
        <div class="sendForm">
          <button
            [ngClass]="{ disabledButton: !contactData.checkbox }"
            [disabled]="!contactData.checkbox"
          >
            {{ "CONTACT.BUTTON" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
