.overallArrow {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  width: 1500px;
  margin: auto;
  .pictureArrow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .overallArrow {
    width: unset;
    overflow: hidden;
    .pictureArrow {
      img {
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .overallArrow {
    overflow: hidden;
    .pictureArrow {
      img {
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .overallArrow {
    .pictureArrow {
      img {
        height: 180px;
        margin-right: unset;
      }
    }
  }
}
