<app-header></app-header>
<div class="heroText">
  <div class="heroTitle">
    Frontend <br />
    Developer
  </div>
  <div class="heroDescription">
    <div class="overline">
      <div class="line"></div>
      <div class="spaceline"></div>
    </div>
    <div class="heroName">Brian Wigger</div>
  </div>
  <div class="heroDirections">
    <div class="emailConnection">brian.wigger&#64;bluewin.ch</div>
    <div class="scrollDown">
      <img
        src="./../../assets/img/{{ showImage }}"
        alt=""
      /><div class="scrollDownText"><div>Scroll <br> Down</div>
    </div>
  </div>
</div>
