.heroText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.heroTitle {
  font-size: 128px;
  font-weight: 800;
  line-height: 128px;
  text-align: center;
}

