<div class="overall">
  <nav>
    <div class="navOptions">
      <div class="logo">
        <a (click)="scrollToTop()" [routerLink]="['']"
          ><img src="./../../../assets/img/logo/logoBW.svg" alt=""
        /></a>
      </div>
      <div class="headerOptions">
        <div class="language">
          <button (click)="switchLanguage('de')">DE</button>|<button
            (click)="switchLanguage('en')"
          >
            EN
          </button>
        </div>
        <div class="hamburger">
          <img
            (click)="openMenu ? closeMenu() : showMenu()"
            src="./../../../assets/img/{{ showHamburger }}"
            alt=""
          />
        </div>
      </div>
    </div>
  </nav>
  <app-menu-hamburger
    (callParentFunction)="closeMenu()"
    [ngClass]="{ 'show-overlay-menu': openMenu }"
  ></app-menu-hamburger>
</div>
