.overall {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  height: 90px;
  align-items: center;

  .hamburger {
    img {
      height: 32px;
      width: 40px;
      display: flex;
      &:hover {
        cursor: url("./../../../assets/img/cursor/cursorPointer.svg") 0 0,
          pointer;
      }
    }
  }
}
