.overallArrow {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  width: 1500px;
  margin: auto;

  .pictureArrow {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .overallArrow {
    width: unset;
    .pictureArrow {
      img {
        height: unset;
        width: 100%;
      }
    }
  }
}
