<div class="blackBackground">
    <div class="overFooter">
      <div class="aboutMe section">
        <div class="informationAboutMe">
          <div class="imageLogo">
            <svg
              width="100"
              height="40"
              viewBox="0 0 110 40"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="BW Logo"
            >
              <text
                x="5"
                y="30"
                style="font-family: Overpass; font-size: 42px; font-weight: 800"
                fill="#fff"
              >
                [
              </text>
  
              <text
                x="30"
                y="30"
                transform="skewX(-8)"
                style="font-family: Overpass; font-size: 42px; font-weight: 800"
                fill="#fff"
              >
                B
              </text>
  
              <text
                x="55"
                y="30"
                transform="skewX(-8)"
                style="font-family: Overpass; font-size: 42px; font-weight: 800"
                fill="#fff"
              >
                W
              </text>
  
              <text
                x="95"
                y="30"
                style="font-family: Overpass; font-size: 42px; font-weight: 800"
                fill="#fff"
              >
                ]
              </text>
            </svg>
          </div>
          <div class="copyright">©Brian Wigger 2025</div>
        </div>
        <div class="directions">
          <div class="toTheTop"></div>
          <div class="socialMedia">
            <ul>
              <li>
                <a href="https://github.com/Zavado311" target="_blank">
                  <img
                    src="./../../../assets/img/logo/github.svg"
                    alt="{{ 'FOOTER.GITHUB' | translate }}"
                  />
                </a>
              </li>
              <li>
                <a href="mailto:brian.wigger@bluewin.ch">
                  <img
                    src="./../../../assets/img/logo/email.svg"
                    alt="{{ 'FOOTER.EMAIL' | translate }}"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/brianwigger/"
                  target="_blank"
                >
                  <img
                    src="./../../../assets/img/logo/linkedIn.svg"
                    alt="{{ 'FOOTER.LINKEDIN' | translate }}"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="legalNotice section">
        <div routerLink="/legal" class="legalNoticeText">
          {{ "FOOTER.LEGAL_NOTICE" | translate }}
        </div>
      </div>
    </div>
  </div>
  