.overallAboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1500px;
  margin: 0 25px;
}
h2 {
  font-family: Syne;
  font-size: 80px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  margin: 64px auto 48px auto;
  width: fit-content;
  &:hover {
    color: #00bc8f;
  }
}

.aboutMe {
  width: 720px;
  font-size: 22px;
  font-family: "Overpass";

  p {
    padding-bottom: 24px;
    &:last-child {
      padding: 0;
    }
  }

  article {
    padding-bottom: 48px;
    ul {
      list-style: none;
      padding-bottom: 24px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    height: 68px;
    padding: 20px 60px;
    gap: 10px;
    border: 4px solid #000000;
    background-color: unset;
    font-size: 23px;
    transition: transform 125ms;

    &:hover {
      cursor: url("./../../../assets/img/cursor/cursorPointer.svg") 0 0, pointer;
      transform: scaleX(1.1);
      font-weight: 700;
    }

    &:active {
      transform: scaleX(1.1);
      font-weight: 700;
      background-color: #000000;
      color: #fffcf3;
    }
  }
}

.showPicture {
  position: relative;
  top: 150px;
  height: 100%;
  img {
    height: 533px;
    width: 533px;
    &:hover + .border {
      display: block;
    }
  }

  .border {
    display: none;
    background: transparent;
    border: #000000 solid 4px;
    height: 533px;
    width: 533px;
    position: absolute;
    top: 20px;
    left: 20px;
    &:hover {
      display: block;
    }
  }
}

@media screen and (max-width: 1500px) {
  .overallAboutMe {
    flex-direction: column;
    width: unset;
  }
  .aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }
  .showPicture {
    align-self: center;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 36px;
    margin: 24px auto 24px auto;
  }
  .aboutMe {
    font-size: 20px;
  }
  article {
    font-size: 20px;
  }
  section {
    display: flex;
    justify-self: center;
    .showPicture {
      height: auto;
      width: 100%;
    }
  }
}
