<div class="overallAboutMe">
  <section class="aboutMe">
    <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>
    <article>
      <p>
        {{ "ABOUT_ME.INTRO" | translate }}
      </p>
      <p>
        {{ "ABOUT_ME.SKILLS" | translate }}
      </p>
      <p>
        {{ "ABOUT_ME.JOB_SEARCH" | translate }}
      </p>
    </article>
    <article>
      <ul>
        <li>📍 <strong>{{ "ABOUT_ME.LOCATION" | translate }}</strong></li>
        <li>🌍 <strong>{{ "ABOUT_ME.REMOTE_WORK" | translate }}</strong></li>
      </ul>
      <p>
        {{ "ABOUT_ME.CONTACT_MESSAGE" | translate }}
      </p>
    </article>

    <button>{{ "ABOUT_ME.CONTACT_BUTTON" | translate }}</button>
  </section>
  <section class="showPicture">
    <img src="./../../assets/img/Brian Wigger/BrianWigger.JPG" alt="{{ 'ABOUT_ME.IMAGE_ALT' | translate }}" />
    <div class="border"></div>
  </section>
</div>
