app-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.hero {
  margin-bottom: 300px;
}

app-about-me {
  width: 1500px;
  display: flex;
  justify-content: center;
  margin: auto;
}

app-legal-notice {
  width: 1500px;
  display: flex;
  justify-content: center;
  margin: auto;
}

pp-privacy-policy {
  width: 1500px;
  display: flex;
  justify-content: center;
  margin: auto;
}
