.overFeedback {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 24px;
  font-size: 18px;
  padding-bottom: 36px;

  &:hover img {
    filter: invert(41%) sepia(95%) saturate(844%) hue-rotate(131deg)
      brightness(103%) contrast(101%);
  }

  img {
    padding-top: 26px;
  }

  .feedbacktext {
    padding: 0 6px;
  }
}

@media screen and (max-width: 400px) {
  .overFeedback {
    .feedbacktext {
      font-size: 14px;
    }
  
  }
}
