* {
  scroll-behavior: smooth;
  scroll-margin-top: 90px;
}

app-header {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 9999;
}

app-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: -90px auto 100px auto;
}

app-about-me {
  display: flex;
  justify-content: center;
}

app-my-skills {
  display: flex;
  justify-content: center;
}

app-portfolio {
  display: flex;
  justify-content: center;
}

app-references {
  display: flex;
  justify-content: center;
}

app-contactform {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1500px) {
  app-hero {
    justify-content: center;
  }

  app-contactform {
    padding-top: 75px;
  }
}

@media screen and (max-width: 420px) {
  app-references {
    margin: -25px 0 25px 0;
  }
}
