<div class="overall">
  <div class="centerAll">
    <ul class="options">
      <li class="hoverLink">
        <a href="#aboutMe" (click)="triggerParentFunction()">{{
          "MENU.ABOUT" | translate
        }}</a>
      </li>
      <li class="hoverLink">
        <a href="#mySkills" (click)="triggerParentFunction()">{{
          "MENU.SKILLS" | translate
        }}</a>
      </li>
      <li class="hoverLink">
        <a href="#portfolio" (click)="triggerParentFunction()">{{
          "MENU.PORTFOLIO" | translate
        }}</a>
      </li>
    </ul>
    <div class="sayHiBackground">
      <div class="texts">
        <div class="sayHiText">
          <div class="textSayHi">{{ "CONTACT_SECTION.TITLE" | translate }}</div>
          <div class="emailConnection">
            <a href="mailto:mail@brianwigger.ch">{{
              "CONTACT_SECTION.EMAIL" | translate
            }}</a>
          </div>
        </div>
        <div class="linksSocialMedia">
          <ul>
            <li>
              <a href="https://github.com/Zavado311">
                <img
                  src="/assets/img/logo/github.svg"
                  alt="{{ 'SOCIAL_MEDIA.GITHUB' | translate }}"
              /></a>
            </li>
            <li>
              <a href="mailto:mail@brianwigger.ch">
                <img
                  src="/assets/img/logo/email.svg"
                  alt="{{ 'SOCIAL_MEDIA.EMAIL' | translate }}"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/brianwigger/">
                <img
                  src="/assets/img/logo/linkedIn.svg"
                  alt="{{ 'SOCIAL_MEDIA.LINKEDIN' | translate }}"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
