.overall {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fffcf3;
  z-index: 9999;
  margin: 0 auto;
  overflow-x: hidden;

  .centerAll {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .options {
      display: flex;
      justify-content: center;
      position: absolute;
      margin: 0 auto;
      top: 10%;
      flex-direction: column;
      gap: 39px;
      font-family: "Syne";
      font-size: 64px;
      font-weight: 700;
      line-height: 68px;
      letter-spacing: -0.025em;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      list-style-type: none;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        a {
          padding: 0 12px;
          margin: 0;
          color: black;
          text-decoration: none;
          &:hover {
            cursor: url("/assets/img/cursor/cursorPointer.svg") 0 0,
              pointer;
          }
        }
      }

      .hoverLink {
        position: relative;
      }
      .hoverLink::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 4px;
        height: 50%;
        background-color: black;
        transform-origin: bottom;
        transition: none;
      }

      .hoverLink:hover::before {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
      }

      .hoverLink::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 160px;
        height: 4px;
        background-color: black;
        transition: none;
      }

      .hoverLink:hover::after {
        transform: translateX(266px);
        transition: transform 0.2s ease-in-out 0.2s;
      }
    }
  }

  .sayHiBackground {
    background-image: url("/assets/img/backgroundImageMenu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 28%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    .texts {
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      width: 1500px;
      margin: auto;
      justify-content: space-between;
      color: white;
      .sayHiText {
        display: flex;
        flex-direction: column;
        position: relative;
        color: white;
        display: flex;
        vertical-align: middle;
        .textSayHi {
          font-weight: 800;
          font-size: 78px;
          &:hover {
            color: #00bc8f;
          }
        }
        .emailConnection {
          font-family: "Overpass";
          font-size: 23px;
          font-weight: 300;
          a {
            color: #fffcf3;
            text-decoration: none;
            cursor: url("/assets/img/cursor/cursorPointer.svg") 0 0,
              pointer;
          }
        }
      }
      .linksSocialMedia {
        display: flex;
        vertical-align: bottom;
        text-align: center;
        align-items: flex-end;
        ul {
          display: flex;
          justify-content: center;
          flex-direction: row;
          gap: 42px;
          list-style-type: none;
          li {
            img {
              transition: margin 75ms ease-in-out;
              &:hover {
                margin-top: -4px;
                cursor: url("/assets/img/cursor/cursorPointer.svg") 0
                    0,
                  pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .overall {
    .sayHiBackground {
      .texts {
        width: unset;
        margin: 0 25px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .overall {
    .centerAll {
      .sayHiBackground {
        height: 45%;
        .texts {
          flex-direction: column;
          margin-bottom: 80px;
          .linksSocialMedia {
            justify-content: flex-end;
          }
          .sayHiText {
            .textSayHi {
              font-size: 56px;
            }
          }
        }
      }
      .options {
        font-size: 56px;
        li {
          height: unset;
        }
        .hoverLink::after {
          width: 106px;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .overall {
    .centerAll {
      .sayHiBackground {
        .texts {
          .linksSocialMedia ul {
            gap: 16px;
          }
          .sayHiText {
            margin-bottom: 25px;
            .textSayHi {
              font-size: 32px;
            }
          }
        }
      }
      .options {
        font-size: 32px;
        li {
          height: unset;
        }
      }
    }
  }
}
