<div class="overall">
  <div class="centerAll">
    <ul class="options">
      <li [ngStyle]="" class="hoverLink"><a href="">About me</a></li>
      <li [ngStyle]="" class="hoverLink"><a href="">My skills</a></li>
      <li [ngStyle]="" class="hoverLink">
        <a href="">Portfolio</a>
      </li>
    </ul>
    <div class="sayHiBackground">
      <div class="texts">
        <div class="sayHiText">
          <div class="textSayHi">Say Hi!</div>
          <div class="emailConnection">
            <a href="mailto:brian.wigger@bluewin.ch"
              >brian.wigger&#64;bluewin.ch</a
            >
          </div>
        </div>
        <div class="linksSocialMedia">
          <ul>
            <li>
              <img src="./../../assets/img/logo/github.svg" alt="" />
            </li>
            <li>
              <img src="./../../assets/img/logo/email.svg" alt="" />
            </li>
            <li>
              <img src="./../../assets/img/logo/linkedIn.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
