.overMySkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #000000;
  width: 1440px;
  margin: 0 25px;
  padding: 0 32px;

  .titleMySkills {
    display: flex;
    vertical-align: middle;
    align-self: center;
    position: relative;
    top: -56px;
    font-size: 78px;
    font-weight: 800;
    &:hover {
      color: #00bc8f;
    }
    .textTitle {
      z-index: 99;
    }
  }

  .behindTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 20%;
    z-index: 1;
    background-color: #fffcf3;
  }

  .overContinuedLearning {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    padding: 78px 0;
    gap: 26px;

    .continuedLearning {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      align-items: center;
      span {
        color: #00bc8f;
        padding: 0 10px;
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 24px;
  row-gap: 48px;
  column-gap: 127px;
  text-align: center;
}

.skillItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Overpass";
  width: 120px;
  height: 120px;
  display: flex;
}

.imgOfSkill {
  height: 75px;
  &:hover {
    margin-top: -28px;
    transition: margin-top 125ms ease-in-out;
  }
}

@media screen and (max-width: 1500px) {
  .titleMySkills {
    text-align: center;
    top: -34px !important;
    .textTitle {
      font-size: 48px;
    }
    .behindTitle {
      top: 27px;
    }
  }

  .content {
    width: unset;
    column-gap: 64px;
    margin: 0 20px;
  }

  .overMySkills {
    .continuedLearning {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 800px) {
  .titleMySkills {
    text-align: center;
    top: -34px !important;
    .textTitle {
      font-size: 48px;
    }
    .behindTitle {
      top: 27px;
    }
  }

  .content {
    width: unset;
    column-gap: 32px;
    margin: unset;
  }

  .overMySkills {
    .continuedLearning {
      flex-direction: column;
    }
  }
}
