<div class="overMySkills">
  <div class="titleMySkills">
    <div class="behindTitle"></div>
    <div class="textTitle">{{ "MY_SKILLS.TITLE" | translate }}</div>
  </div>

  <div class="content">
    @for (item of mySkills; track mySkills.name) {
    <div class="skillItem">
      <div class="imgOfSkill">
        <img
          src="./../../assets/img/skills/{{ item.path }}"
          alt="{{ item.name }}"
        />
      </div>
      <div class="nameOfSkill">{{ item.name }}</div>
    </div>
    } @empty {
    <li>{{ "MY_SKILLS.NO_ITEMS" | translate }}</li>
    }
  </div>
  <div class="overContinuedLearning">
    <div class="continuedLearningImg"><img src="./../../assets/img/skills/continuedlearning.svg" alt="" /></div>
    <div class="continuedLearning">
      <div>{{ "MY_SKILLS.CONTINUED_LEARNING" | translate }}</div>
      <div class="contactMeLink"><a href="#aboutMe">{{ "MY_SKILLS.CONTACT_ME" | translate }}</a></div>
      <div>{{ "MY_SKILLS.MOTIVATION_TO_LEARN" | translate }}</div>
    </div>
  </div>
</div>
