.overProject {
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;

  .number {
    font-size: 48px;
    position: absolute;
    right: 0;
  }

  .imageProject img {
    filter: grayscale(1);
    height: 393px;
    cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
      pointer;

    &:hover {
      filter: grayscale(0);
      cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
        pointer;
    }
  }

  .aboutProject {
    padding-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1440px;
    height: 460px;
    .imageProject {
      position: relative;
      z-index: 2;
      .showBorder {
        display: none;
        background: transparent;
        border: #000000 solid 4px;
        height: 393px;
        width: 620px;
        position: absolute;
        top: 20px;
        left: 20px;
        pointer-events: none;
      }
      .showLinkArrow img {
        display: none;
        position: absolute;
        height: 48px;
        top: 50%;
        right: -44px;
        transform: rotate(120deg);
      }
    }

    .title {
      font-size: 45px;
      font-weight: 800;
    }

    .usedProgramms {
      font-size: 23px;
      color: #00bc8f;
      font-weight: 400;
    }

    .informations {
      display: flex;
      transition: left 125ms ease-in-out;
      z-index: 1;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      width: 620px;
      height: 393px;
      gap: 4px;
      position: absolute;
      left: 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        width: 189px;
        height: 68px;
        margin: 12px 0 0 0;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        background-color: unset;
        font-size: 23px;
        transition: width 125ms;
        &:hover {
          cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
            pointer;
          width: 207px;
          font-weight: 700;
          &:active {
            background-color: #fffcf3;
            color: #000000;
            box-shadow: 5px 5px 15px 0px #00000026;
          }
        }
      }
    }
  }
}

.showIt {
  display: block !important;
}

.showAnimationArrow {
  animation: arrowRotate 225ms ease-in-out forwards;
}

.showColoredImage {
  filter: grayscale(0) !important;
  cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0, pointer;
}

.imageProject:hover ~ .informations {
  left: 0px;
}

.reversedImageProject:hover ~ .informations {
  left: 0 !important;
}

.showTheInformation {
  left: 820px !important;
}

.reversedNumber {
  right: unset;
  left: 0;
}

.reversedInformation {
  left: 820px !important;
}

.reversedClass {
  flex-direction: row-reverse !important;

  .reversedImageProject {
    .reversedShowBorder {
      top: 20px !important;
      right: 20px !important;
      left: unset !important;
    }
    .reversedArrowLink img {
      right: unset !important;
      left: -44px !important;
    }
  }
}

@keyframes arrowRotate {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(20deg);
  }
}
