.overProject {
  position: relative;
  display: flex;
  flex-direction: column;

  .number {
    font-size: 48px;
    position: absolute;
    right: 0;
  }

  .imageProject img {
    filter: grayscale(1);
    height: 393px;
    cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
      pointer;

    &:hover {
      filter: grayscale(0);
      cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
        pointer;
    }
  }

  .aboutProject {
    padding-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 460px;
    a {
      text-decoration: none;
      .imageProject {
        position: relative;
        z-index: 2;
        .showBorder {
          display: none;
          background: transparent;
          border: #000000 solid 4px;
          height: 393px;
          width: 620px;
          position: absolute;
          top: 20px;
          left: 20px;
          pointer-events: none;
        }
        .showLinkArrow img {
          display: none;
          position: absolute;
          height: 48px;
          top: 50%;
          right: -44px;
          transform: rotate(120deg);
        }
      }
    }
    .title {
      font-size: 45px;
      font-weight: 800;
    }

    .usedProgramms {
      font-size: 23px;
      color: #00bc8f;
      font-weight: 400;
    }

    .informations {
      display: flex;
      transition: left 125ms ease-in-out;
      z-index: 1;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      width: 550px;
      height: 393px;
      gap: 4px;
      position: absolute;
      left: 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        width: 189px;
        height: 68px;
        margin: 12px 0 0 0;
        padding: 20px 60px;
        gap: 10px;
        border: 4px solid #000000;
        background-color: unset;
        font-size: 23px;
        transition: width 125ms;
        &:hover {
          cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0,
            pointer;
          width: 207px;
          font-weight: 700;
          &:active {
            background-color: #fffcf3;
            color: #000000;
            box-shadow: 5px 5px 15px 0px #00000026;
          }
        }
      }
    }
  }
}

.showIt {
  display: block !important;
}

.showAnimationArrow {
  animation: arrowRotate 225ms ease-in-out forwards;
}

.showColoredImage {
  filter: grayscale(0) !important;
  cursor: url("./../../../../assets/img/cursor/cursorPointer.svg") 0 0, pointer;
}

.imageProject:hover ~ .informations {
  left: 0px;
}

.reversedImageProject:hover ~ .informations {
  left: 0 !important;
}

.showTheInformation {
  left: 820px !important;
}

.reversedNumber {
  right: unset;
  left: 0;
}

.reversedInformation {
  left: 900px !important;
}

.reversedClass {
  flex-direction: row-reverse !important;

  .reversedImageProject {
    .reversedShowBorder {
      top: 20px !important;
      right: 20px !important;
      left: unset !important;
    }
    .reversedArrowLink img {
      right: unset !important;
      left: -44px !important;
    }
  }
}

@keyframes arrowRotate {
  from {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@media screen and (max-width: 1450px) {
  .overProject {
    .aboutProject {
      .informations {
        transition: top 125ms ease-in-out;
        left: unset !important;
        top: 400px;
        width: 620px;
      }
    }
  }

  .imageProject ~ .informations {
    left: unset !important;
    top: 400px;
    width: 620px;
  }

  .reversedImageProject ~ .informations {
    left: unset !important;
    top: 400px;
    right: 72px;
    align-items: end;
    text-align: end;
    width: 620px;
  }

  .overProject {
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 850px) {
  .overProject {
    height: 275px;
    margin-bottom: 400px;
    width: unset;
    padding: 0;

    .aboutProject {
      .informations {
        width: 430px;
        margin: 0;
        top: 300px;
      }
    }
    a {
      .imageProject {
        .showBorder {
          height: 275px !important;
          width: 434px !important;
        }

        img {
          height: 275px;
        }
      }
      .imageProject ~ .informations {
        top: 300px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .overProject {
    height: 175px;
    margin-bottom: 500px;
    .number {
      font-size: 36px;
    }
    .aboutProject {
      .informations {
        width: unset;
        margin: 0;
        right: 0;
        top: 200px;
      }
    }

    a {
      .imageProject {
        .showBorder {
          height: 175px !important;
          width: 276px !important;
        }

        img {
          height: 175px;
        }
      }
      .imageProject ~ .informations {
        top: 100px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .overProject {
    height: 150px;
    margin-bottom: 500px;
    .number {
      font-size: 36px;
    }
    .aboutProject {
      .informations {
        width: unset;
        margin: 0;
        right: 0;
        .title {
          font-size: 32px;
        }
      }

      .imageProject {
        .showBorder {
          height: 150px !important;
          width: 237px !important;
        }

        img {
          height: 150px;
        }
        .showLinkArrow {
          .showLinkArrowImg {
            height: 25px;
            right: -30px;
          }
        }
      }
      .imageProject ~ .informations {
        top: 200px;
      }
    }
  }
  .reversedClass {
    .reversedImageProject {
      .reversedArrowLink img {
        right: unset !important;
        left: -30px !important;
      }
    }
  }
}
