@font-face {
  font-family: "Syne";
  src: url("./assets/font/syne/Syne-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Syne";
  src: url("./assets/font/syne/Syne-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Syne";
  src: url("./assets/font/syne/Syne-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Syne";
  src: url("./assets/font/syne/Syne-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Syne";
  src: url("./assets/font/syne/Syne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Overpass";
  src: url("./assets/font/overpass/Overpass-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("./assets/img/cursor/cursor.svg") 0 0, auto;
  font-family: Syne, sans-serif;
}

body {
  background-color: #fffcf3;
  background-image: radial-gradient(#f0dbc7 2px, transparent 0);
  background-size: 160px 160px;
}

