<div class="blackBackground">
  <div class="overFooter">
    <div class="logo section"><div class="imageLogo">Bw</div></div>
    <div class="aboutMe section">
      <div class="copyright">© Brian Wigger 2025</div>
      <div class="socialMedia">
        <ul>
          <li>
            <a href=""
              ><img src="./../../../assets/img/logo/github.svg" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./../../../assets/img/logo/email.svg" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./../../../assets/img/logo/linkedIn.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="legalNotice section"><div class="legalNoticeText">Legal Notice</div></div>
  </div>
</div>
