<div class="blackBackground">
  <div class="overFooter">
    <div class="aboutMe section">
      <div class="informationAboutMe">
        <div class="imageLogo">
          <img src="./../../../assets/img/logo/logoBWWhite.svg" alt="" />
        </div>
        <div class="copyright">©Brian Wigger 2025</div>
      </div>
      <div class="directions">
        <div class="toTheTop"><a class="arrowLink" href="#hero"></a></div>
        <div class="socialMedia">
          <ul>
            <li>
              <a href="https://github.com/Zavado311" target="_blank">
                <img
                  src="./../../../assets/img/logo/github.svg"
                  alt="{{ 'FOOTER.GITHUB' | translate }}"
                />
              </a>
            </li>
            <li>
              <a href="mailto:brian.wigger@bluewin.ch">
                <img
                  src="./../../../assets/img/logo/email.svg"
                  alt="{{ 'FOOTER.EMAIL' | translate }}"
                />
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/brianwigger/" target="_blank">
                <img
                  src="./../../../assets/img/logo/linkedIn.svg"
                  alt="{{ 'FOOTER.LINKEDIN' | translate }}"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="legalNotice section">
      <div routerLink="/legal" class="legalNoticeText">{{ "FOOTER.LEGAL_NOTICE" | translate }}</div>
    </div>
  </div>
</div>
